/*==================== ABOUT ====================*/

.about__img {
  width: 200px;
  height: 300px; /* Maintain square aspect ratio */
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
  object-fit: cover; /* Ensure image covers container */
}

.about__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
  font-size: var(--small-font-size); /* Adjusted font size for description */
  color: var(--text-color); /* Lighter text color for description */
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-bottom: 0.5rem; /* Added margin bottom for spacing */
}

.about__info-name {
  font-size: var(--small-font-size);
  text-align: center;
  color: var(--text-color); /* Adjusted text color */
}

.about__buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem; /* Added margin top for spacing */
}
